.header {
    display: flex;
    justify-content: space-between;
    height: 160px;
    /* overflow: hidden; */
}

.header b {
    -webkit-text-stroke: 1px rgba(147, 210, 231, 0.959);
}

.header h1 {
    margin-right: 20%;
    font-size: 60px;
    color: rgb(13, 118, 199);
    line-height: 40px;
    margin-top: 20px;
}

.menu {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    font-size: 25px;
}

.deptname {
    font-size: 30px;
}

.deptmar {
    background-color: aqua;
    height: 50px;
    border-radius: 17px;
}
.section2 {
    position: relative;
}
.section3 {
    position: relative;
}

.section2-img {
    width: 100%;
    height: 500px;
}

.header span {
    color: red;
    font-size: 20px;
}

.header h1 b {
    text-shadow: 4px 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.cultural {
    position: relative;
    text-align: center;
}

.cultural div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sports {
    position: relative;
    text-align: center;
}

.sports div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sports-img {
    width: 387px;
    height: 234px;
    border-radius: 5px;
}
.quiz {
    position: relative;
    text-align: center;
}

.quiz div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hackathon {
    position: relative;
    text-align: center;
}

.hackathon div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.freshers {
    position: relative;
    text-align: center;
}

.freshers div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sendoff {
    position: relative;
    text-align: center;
}

.sendoff div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Cultural and sports*/

.skit {
    height: 230px;
}
.main {
    margin-left: 19%;
}
.cul h5 {
    color: rgb(230, 85, 33);
}

#i1, #i2, #i3, #i4, #i5, #i6 {
    padding: 10px;
    background-color: rgb(189, 232, 234);
    color:"black";
}


/* Quiz */

#i3quiz {
    margin-left: 23%;

}
#i1quiz, #i3quiz {
    padding: 10px;
    background-color: rgb(189, 232, 234);
    color:"black";
    opacity: 0;
    scale:0;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: rgba(92, 106, 197, 0.5);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    border-radius: 10px;
}

/* about.html page */
.about {
    background-color: antiquewhite;
}
.about1 {
    color: blue;
}
.about2 {
    color: blueviolet;
    font-size: 30px;

}
.about3 {
    width: 100%;
    font-size: 15px;
}
.sep {
    margin: 8% 17%;
}

.menu a:hover {
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 28px;
    margin-top: 5px;
    
}

.menuAbt {
    position: relative;
}